
#wrapper {
    margin: 0 auto; 
}


#lakepic {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: purple;
    position: relative;
    opacity: 0.4;
}

#constrwarning {
    color: black;
    align-content: center;
    width: 70%;
    display: inline;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 100;
}
