* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
  position: relative;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    color: rgb(56, 49, 46);
}



/*NAV*/

#SR_logo {
    width:40px;
}

.navbar-custom {
    background-color: rgb(234, 220, 204); 
}

.nav-tabs {
    border-bottom-color: rgb(234, 220, 204);
}

.navbar-custom a{
    color: rgb(56, 49, 46); 
    border: none;
    font-family: 'Playfair Display', serif;
}

a.nav-link.toplinks {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar-custom a:hover, a:focus{
    color: rgb(103, 95, 92);
    border: none;
}

a.nav-link.toplinks.active {
    background-color: rgba(214, 175, 132, 0.5);
    border: none;
}

a.nav-link.toplinks.active:hover, a.nav-link.toplinks.active:focus{
    background-color: rgba(214, 175, 132, 0.8);
    border: none;
}

.homelink {
    display: none;
}

/*JUMBOTRON*/

.jsize {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/workstation-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jumbotext{
    text-align: center;
    vertical-align: center;
    font-family: 'Playfair Display', serif;
    color: white;
}

.cta, .cta:visited {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    padding: 20px 0;
    margin-top: 50px;
    min-width: 300px;
    background: rgb(214,235,231);
    color: rgb(103, 95, 92);
}

.cta:hover, .cta:focus {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgb(214,235,231);
    color: white;
}

/* Section Titles */
.section_title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: rgb(103, 95, 92);
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.section_title span { 
    background:#fff; 
    padding:0 10px; 
}

/*Portfolio*/

.projcard {
    padding-left: 8px;
    padding-right: 8px;
}

.projcard h3 {
    font-family: 'Playfair Display', serif;
    color: white;
}

.projcard div:focus, .projcard div:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.projcard h5 {
    font-size: .90rem;
}


/*About Me*/

.resume, .resume:visited {
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 200px;
    padding: 10px 0;
    margin-top: 30px;
    border-color: rgb(214,235,231);
    border-style: solid;
    border-width: 2px;
    color: rgb(164, 183, 179);
}

.resume:hover, .resume:focus {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgb(214,235,231);
    color: white;
    border-color: rgb(164, 183, 179);
}

#resume {
    font-size: 0.85rem;
    text-align: center;
    font-style: italic; 
}

.about {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}

#About_Me img {
    max-width: 300px;
    min-width: 200px;
    width: 100%;
    margin: auto;
}

ul.checkmark li:before {
    content: '✔';
    margin-left: -1em;
    margin-right: 0.5em;
}

ul.checkmark {
    list-style-type: none;
    padding-left: 5px;
    text-indent: 5%;
    list-style-position: outside;
}

ul.checkmark li {
    float: left;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.Skills {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left:0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}


.area_skills{
    margin: 0 10%;
}

/*Contact*/


label {
    font-family: 'Open Sans', sans-serif;
}

.field {
    font-family: 'Open Sans', sans-serif;
}


/*Footer*/

#footer_main {
    background: rgb(234, 220, 204);
    margin-top: auto;
    
}

#footer_text {
    font-size: .7rem;
    float: left;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 40px 0 0 0;
}

#footer_icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer_icons li img{
  float: right;
  margin: 2.5%;
  max-width: 50px;
  max-height: 50px;
}

/*
#footer_icons li {
        display: inline-block;
        padding: 5px; 
        list-style: none;
    }


.social-icon {
    display: inline-block;
    float: right;
    margin: 20px 20px;
    max-width: 40px;
    max-height: 40px;
    overflow: auto;
}
*/


/* Thank You Form Submitted */
.jsize_t {
    background: white;
    padding-top: 10%;
    padding-bottom: 20%;
}

.jumbotext_t{
    text-align: center;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;
    color: black;
}

.cta_t {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 300px;
   /* width: 20%; min-width: 100px; */
    padding: 20px 0;
    margin-top: 50px;
    
    background: rgb(214,235,231);
    color: black; 
}

.cta_t:hover, cta_t:focus {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgb(214,235,231);
}


