

/*JumboTron for each project */

.jsize1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/workstation-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

.jsize2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/LiquidLab/liquid-full-cover-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

.jsize3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Timezones/pexels-airplane-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

.jsize4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/DocDetective/pexel-doctor-pocket-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

.jsize5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/beachgrass/pexel-beach-chair-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

.jsize6 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/DFCI/dfci-pod-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

.jsize7 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Instagift/presents-orig-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 12%;
}

#downarrow {
    color: white;
    text-align: center;
    vertical-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 400%;
}


/*Overview Box*/

#overviewbox {
    margin-bottom: 4rem;
}

.overview_titles{
    margin-top: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 150%;
}

/*Planning and Process*/

p {
    max-width: 50rem;
}

.bold {
	font-weight: 700;
}

#planning_process h2 {

    margin-top: 2rem;
	margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem;
    color: rgb(103, 95, 92);
}
	


#planning_process p.lead {
	font-size: 1.5rem;
	margin-top: 4rem;
    margin-bottom: 4rem;
}

#planning_process img{
    max-height: 400px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
}

#planning_process .big1 img{
	
	max-width: 100%;
	
}

.picfinal {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}


/*Final Project*/

#final_proj img{
    max-height: 400px;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#final_proj p.lead {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#final_proj h2 {

    margin-top: 2rem;
	margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: rgb(103, 95, 92);
}

.med-hi {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    
}

li {
    max-width: 40rem;
}

.imgb{
    border-style: solid;
    color: rgb(103, 95, 92);
    border-width: 0.3px;
}

.uparrow {
    color: rgba(103, 95, 92,1);
    text-align: center;
    vertical-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 120%;
}

.up_sec{
	margin: auto;
	margin-bottom: 30px;
	padding-right: 20px;
	text-align: right;
	
}

.up {
	font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
	color: rgba(103, 95, 92,1);
	
}

.up_sec a:hover, .up_sec a:focus{
	text-decoration: none;
}
.up:hover, .up:focus {
	color: rgba(103, 95, 92,0.5);
	text-decoration: none;
	border-bottom-color: white;
}

.viewproj{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 20px;
	text-align: right;
}

a.test-popup-link{
	position: relative;
	display: inline-block;
}

.imgholder{
	text-align: center;
}

a.test-popup-link:after{
	position: absolute;
	content:'\f00e';
	font-family: "FontAwesome";
	top: 0;
	right: 0;
	width: 20px;
	z-index: 2;
	color: black;
	background: rgba(255,255,255,0.5);
	
}

/*responsive for the projects*/

@media (max-width: 556px) {
    
    #SR_logo {
    display: none;
    }
    
    .jsize1 {
    padding-top: 40%;
    padding-bottom: 20%;   
    }
    
    
    #downarrow {
        color: white;
        text-align: center;
        vertical-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 200%;
    }

    #overviewbox {
        width: 98%;
    }
    
    
}

@media (max-width: 543px) {
    #planning_process img, #final_proj img {
		max-height: 300px;
		max-width: 100%;
    }
	
	.imgplace{
		
	}
}



