

/*JumboTron for each project */

.jsize1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/workstation-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jsize2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/LiquidLab/liquid-full-cover-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jsize3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Timezones/pexels-airplane-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jsize4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/DocDetective/pexel-doctor-pocket-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jsize5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/beachgrass/pexel-beach-chair-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

#downarrow {
    color: white;
    text-align: center;
    vertical-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 400%;
}


/*Overview Box*/

#overviewbox {
    padding: 20px;
    border: rgb(167, 139, 128);
    border-radius: 10px;
    border-style: solid;
    margin: auto;
    width: 90%;
    max-width: 800px;
}

.overview_titles{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
}

.prototype, .prototype:visited {
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 300px;
    min-width: 50%;
    padding: 20px 0;
    margin-top: 50px;
    background: rgba(214,235,231,.4) ;
    border-style: none;
    border-width: 2px;
    color: rgb(103, 95, 92);
}

.prototype:hover, .prototype:focus {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgb(214,235,231);
    color: white;
}

/*Planning and Process*/

.picfinal {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}


/*Final Project*/

.med-hi {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    
}

.med-hi-imgb{
    border-style: solid;
    color: rgb(103, 95, 92);
    border-width: 0.5px;
}

/*responsive for the projects*/

@media (max-width: 556px) {
    
    #SR_logo {
    display: none;
    }
    
    .jsize1 {
    padding-top: 40%;
    padding-bottom: 20%;   
    }
    
    
    #downarrow {
        color: white;
        text-align: center;
        vertical-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 200%;
    }

    #overviewbox {
        width: 98%;
    }
    
    
}

@media (max-width: 543px) {
    .pic2 {
        margin-top: 1rem;
    }
}

