

/*JumboTron for each project */

.jsize1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/workstation-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jsize2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/LiquidLab/liquid-full-cover-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.jsize3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Timezones/pexels-airplane-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

#downarrow {
    color: white;
    text-align: center;
    vertical-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 400%;
}


/*Overview Box*/

#overviewbox {
    padding: 20px;
    border: rgb(167, 139, 128);
    border-radius: 10px;
    border-style: solid;
    margin: auto;
    width: 90%;
    max-width: 800px;
}

.overview_titles{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
}


/*Planning and Process*/

.picfinal {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}


/*Final Project*/


/*responsive for the projects*/

@media (max-width: 556px) {
    
    #SR_logo {
    display: none;
    }
    
    .jsize1 {
    padding-top: 40%;
    padding-bottom: 20%;   
    }
    
    
    #downarrow {
        color: white;
        text-align: center;
        vertical-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 200%;
    }

    #overviewbox {
        width: 98%;
    }
    
    
}

@media (max-width: 543px) {
    .pic2 {
        margin-top: 1rem;
    }
}

