/* Vertical Project Subnav, code from CodyHouse.co */

.no-touch .vertical-nav-trigger {
  display: none;
}
.no-touch #vertical-nav {
  z-index: 3;
  position: fixed;
  right: 23px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.no-touch #vertical-nav ul {
  padding: 0;
}

.no-touch #vertical-nav li {
  clear: both;
  list-style-type: none;
}

.no-touch #vertical-nav .dot {
  position: relative;
  top: 10px;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border-style: none;
  background-color: rgb(214,175,132);
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.no-touch #vertical-nav a.is-selected .dot {
  background-color: rgb(103,95,92);
}

.no-touch #vertical-nav a span {
    display: inline-block;
    float: right;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.no-touch #vertical-nav .label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: rgb(214,175,132);
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.no-touch #vertical-nav a:hover span {
    transform: scale(1);
}

.no-touch #vertical-nav a:hover .label {
  opacity: 1;
}

/* Touch devices */


.touch .nav-trigger {
  width:30px;
  height:30px;
  line-height:30px;
  border-radius:50%;
  background:rgb(214,175,132);
  color:#789935;
  position:fixed;
  bottom: 30px;
  right: 15px;
  outline:none;
  z-index: 4;
}

.touch .nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .nav-trigger span::before, .touch .nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .nav-trigger span::before {
  top: -9px;
}
.touch .nav-trigger span::after {
  bottom: -9px;
}

.touch #vertical-nav {
  position: fixed;
  z-index: 3;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgb(234, 220, 204);
}
.touch #vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
  color: rgb(103, 95, 92);
}
.touch #vertical-nav a span:first-child {
  display: none;
}
.touch #vertical-nav a.is-selected span:last-child {
  color: white;
}

.touch #vertical-nav a.is-selected {
	background-color: rgba(103, 95, 92,0.8);
	color: white;
}

.touch #vertical-nav li {
  clear: both;
  list-style-type: none;
}

.touch #vertical-nav ul {
	padding-left: 0;
}

.touch #vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #vertical-nav.open + .nav-trigger {
  background-color: transparent;
}
.touch #vertical-nav.open + .nav-trigger span {
  background-color: rgb(65, 60, 58);
}

.touch #vertical-nav.open + .nav-trigger span::before, .touch #vertical-nav.open + .nav-trigger span::after {
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #vertical-nav.open + .nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #vertical-nav.open + .nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .nav-trigger, .touch #vertical-nav {
    bottom: 40px;
  }
}
